<div class="b-modal-wrapper" ng-click="vm.closePlayer($event)">
  <div class="modal-window">
    <div class="popup-close"><strong class="x-text">X</strong>
    </div>
    <div class="popup-video">
      <div id="myElement"></div>
    </div>

    <div class="popup-header w-clearfix">
      <a class="popup-download-link" ng-href="{{vm.highlight.video}}" download="">⬇ Download highlight<!--  (5 Mb) --></a>
      <div class="popup-title">
        <span ng-if="vm.highlight.killScore">Kills: {{vm.highlight.killScore}}<span ng-if="vm.highlight.assistScore || vm.highlight.deathScore">,</span></span>
        <span ng-if="vm.highlight.assistScore"> Assist: {{vm.highlight.assistScore}}<span ng-if="vm.highlight.deathScore">,</span></span>
        <span ng-if="vm.highlight.deathScore"> Death</span>
      </div>
      <div class="popup-info">
        <div class="game-date">
          <a class="popup-link" ng-if="vm.highlight.gameId" ui-sref="app.streamer.game({ gameId: vm.highlight.gameId })" ga-on="click,auxclick,contextmenu" ga-event-category="popup_game_click" >{{vm.highlight.heroName}} — {{vm.highlight.gameDate | date:'dd.MM.yyyy'}} <span ng-if="vm.highlight.gameTime">|</span></a>
          <span ng-if="vm.highlight.gameTime" class="text-span-2">Game time: {{vm.highlight.gameTime}}</span>
        </div>
      </div>
    </div>
    <div class="highlight-info" ng-repeat="e in vm.highlightEvents">
      <img ng-class="e.streamerHeroId == e.assistant4Id ? 'image-icon-streamer' : 'image-icon'" ng-src="{{e.assistant4Icon}}" ng-if="e.assistant4Id" width="30">
      <img ng-class="e.streamerHeroId == e.assistant3Id ? 'image-icon-streamer' : 'image-icon'" ng-src="{{e.assistant3Icon}}" ng-if="e.assistant3Id" width="30">
      <img ng-class="e.streamerHeroId == e.assistant2Id ? 'image-icon-streamer' : 'image-icon'" ng-src="{{e.assistant2Icon}}" ng-if="e.assistant2Id" width="30">
      <img ng-class="e.streamerHeroId == e.assistant1Id ? 'image-icon-streamer' : 'image-icon'" ng-src="{{e.assistant1Icon}}" ng-if="e.assistant1Id" width="30">
      <img ng-class="e.streamerHeroId == e.killerId ? 'image-icon-streamer' : 'image-icon'" ng-src="{{e.killerIcon}}" width="40">
      <img class="icon-vs image-icon" src="images/swords.png" width="16">
      <img ng-class="e.streamerHeroId == e.victimId ? 'image-icon-streamer' : 'image-icon'" ng-src="{{e.victimIcon}}" width="40">
    </div>
  </div>
</div>