<div class="b-modal-wrapper">
  <div class="modal-window">
    <div class="popup-close" ng-click="vm.closePlayer()"><strong class="x-text">X</strong>
    </div>
    <div class="popup-video">
      <div id="myElement"></div>
    </div>

    <div class="popup-header w-clearfix">
      <a class="popup-download-link" ng-href="{{vm.highlight.video}}" download="">⬇ Download highlight (5 Mb)</a>
      <div class="popup-title">
        Kills: {{vm.highlight.killScore || 0}}, Assist: {{vm.highlight.assistScore || 0}}<span ng-if="vm.highlight.deathScore">, Death</span>
      </div>
      <div class="popup-info">
        <div class="game-date">
          <a ng-if="vm.highlight.gameId" ui-sref="app.streamer.game({ gameId: vm.highlight.gameId })" class="popup-link">{{vm.highlight.heroName}} — {{vm.highlight.gameDate | date:'dd.MM.yyyy'}} |</a>
          <span class="text-span-2">Game time: {{vm.highlight.gameTime}}</span>
        </div>
      </div>
    </div>
    <div class="highlight-info"><img class="image-icon" src="images/Renekton.png" width="30"><img class="image-icon" src="images/Renekton.png" width="30"><img class="image-icon" src="images/Renekton.png" width="30"><img class="image-icon-streamer" src="images/Renekton.png" width="30"><img class="image-icon" src="images/Renekton.png" width="40"><img class="icon-vs image-icon" src="images/swords.png" width="16"><img class="image-icon" src="images/Inhibitor_Red.png" width="40">
    </div>
    <div class="highlight-info"><img class="image-icon" src="images/Renekton.png" width="30"><img class="image-icon-streamer" src="images/Renekton.png" width="30"><img class="image-icon" src="images/Renekton.png" width="40"><img class="icon-vs image-icon" src="images/swords.png" width="16"><img class="image-icon" src="images/Inhibitor_Red.png" width="40">
    </div>
    <div class="highlight-info"><img class="image-icon-streamer" src="images/Renekton.png" width="30"><img class="image-icon" src="images/Renekton.png" width="40"><img class="icon-vs image-icon" src="images/swords.png" width="16"><img class="image-icon" src="images/Inhibitor_Red.png" width="40">
    </div>
  </div>
</div>